
 body{
    background-image:url(../);
    background-color:rgb(231, 245, 194)
    
}

h2{
    background-color: limegreen;
}
.oi{
    color: rgb(44, 94, 3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}